In [22]:
fullname1 = (" Devi")
print(fullname1)

 Devi

In [6]:
fullname2= ("Devi ")
print(fullname2)

Devi

In [13]:
fullname1.lstrip()

'Devi'

In [14]:
fullname2.rstrip()

'Devi'

In [17]:
flash = " Karthik "
print(flash)

 Karthik

In [20]:
flash.strip ()

'Karthik'

In [24]:
students = ['ironman', 'superman', 'wonder women', 'flash']
print(students)

['ironman', 'superman', 'wonder women', 'flash']

In [25]:
type(students)

list

In [27]:
print(students[2])

wonder women

In [30]:
print(students[2].title())

Wonder Women

In [31]:
print(students[2].upper())

WONDER WOMEN

In [32]:
print(students[2].lower())

wonder women

In [39]:
students.append('batman')
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman', 'batman']

In [37]:
del students[6]
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman', 'batman']

In [38]:
del students[5]
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman']

In [40]:
students.append('batman')
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman', 'batman', 'batman']

In [43]:
students[5] = 'aquaman'
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman', 'aquaman', 'batman']

In [44]:
students.insert(6,'hulk')
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman', 'aquaman', 'hulk', 'batman']

In [45]:
students[7] = 'deadpool'
print(students)

['ironman', 'superman', 'wonder women', 'flash', 'batman', 'aquaman', 'hulk', 'deadpool']

In [63]:
first_name = 'faiyazuddin'
last_name = 'shaik'

In [66]:
fullname = f"thanks for teaching,{first_name} {last_name}"
           print(fullname)

IndentationError: unexpected indent (<ipython-input-66-67bd77dad603>, line 2)

In [ ]:

first_name = 'faiyazuddin'
last_name = 'shaik'
fullname = f"thanks for the training,{first_name} {last_name}"
print(fullname.title())

In [69]:
firstname ='faiyaxuddin'
lastname = 'shaik'
fullname =F"thanks for teaching us,{firstname} {lastname}"
print(fullname.title())

Thanks For Teaching Us,Faiyaxuddin Shaik